<div class="jumbotron">
  <div class="section">
    <div class="container">
      <br><br>
      <h1 class="header text-center">
        Your story starts here.
      </h1>
      <div class="row text-center">
        <h4 class="header">
          Helping you manage and write your stories, simply.
        </h4>
      </div>
      <div class="row text-center">
        <%= link_to 'Get Yours',
          "https://github.com/malachaifrazier/rails5-starter-app",
          class: 'btn btn-primary', target: "_blank" %>
      </div>
      <br><br>

    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="icon-block text-center">
          <h2>
            <i class="material-icons">bubble_chart</i>
          </h2>
          <h4>Promotes creativity</h4>
          <p class="light">
            Save your brain for real work.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4">
        <div class="icon-block text-center">
          <h2>
            <i class="material-icons">schedule</i>
          </h2>
          <h4>Speeds up dev work</h4>
          <p class="light">
            Clone or fork this repo and get on with customization.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4">
        <div class="icon-block text-center">
          <h2>
            <i class="material-icons">assignment_turned_in</i>
          </h2>
          <h4>Just do the thing</h4>
          <p class="light">
            Really, just do the thing. That thing.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<hr>
<br>
<div class="container">
  <div class="section">
    <div class="row col-lg-offset-1">
      <div class="col-md-5 col-lg-5">
        <div class="">
          <h4>
            <u>This is an open-source project by Malachai via Butterburn LLC. Homie.</u>
          </h4>
          <p class="lead">
            If you like this starter app, you can thank me here:
            <a href="https://twitter.com/captcussa" class="white-text" target="_new">
              @captcussa
            </a>
          </p>
        </div>
      </div>

      <div class="col-md-5 col-lg-5 text-center">
        <div class="">
          <h4 class=""><u>Get Involved</u></h4>
          <ul>
            <li>
              <a href="https://github.com/malachaifrazier/rails5-starter-app" target="_blank">
                Source Code on GitHub
              </a>
            </li>
            <li>
              <a href="https://github.com/malachaifrazier/rails5-starter-app/issues" target="_blank">
                Browse the Roadmap
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<footer>
  <div class="container">
    © 2016 Butterburn LLC
    <a class="" href="http://www.butterburn.co" target="_blank">Butterburn LLC</a>
  </div>
</footer>
