<!-- Setting Modal -->
<div class="modal fade bs-example-modal-lg" id="settingModal"
 tabindex="-1" role="dialog" aria-labelledby="settingModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close col-lg-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Setting</h4>
      </div>

      <div class="modal-body">
        <p>Description on the time, place and social context where the story is developed.</p>
        <hr>
        <%= simple_form_for(@project) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :setting, autofocus: true, label: false, input_html: {rows: 12}, as: :wysihtml5, class: "wysihtml5" %>
          </div>

          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
