<hr>
<footer>
  <div class="container">
    <span>
      <a href="/about/privacy">Privacy Policy</a> /
      <a href="https://github.com/malachaifrazier/rails5-starter-app" target="_blank">
        Source Code
      </a>
    </span>
    <span>
      © 2016 <%= link_to 'Butterburn LLC.', 'http://butterburn.co', target: '_blank' %>
    </span>
  </div>
</footer>